accelerate~=1.0.1
torch~=2.2.0
pytorch-lightning~=2.2.0
scipy~=1.15.1
cartopy~=0.24.1
xarray~=2025.1.2
matplotlib~=3.10.0
opencv-python~=4.11.0.86
seaborn~=0.13.2
omegaconf~=2.3.0
torchmetrics~=1.6.1
geopy~=2.4.1
